G90 G21
G0 Z10
M3 S5000

{{#.}}
{{#even}}
G1 X0 Y{{y}} F3000
G1 Z-0.0
G1 X{{xStep}} Y{{y}} F3000
{{/even}}
{{^even}}
G1 X{{xStep}} Y{{y}} F3000
G1 Z-0.0
G1 X0 Y{{y}} F3000
{{/even}}
{{/.}}

G0 Z10
M05

G0 X0 Y0
M30
