G90 G21
G0 Z10
M3 S22000

{{#.}}
{{#even}}
G1 X0 Y{{y}} F500
G1 Z-0.2 F200
G1 X{{xStep}} Y{{y}} F500
{{/even}}
{{^even}}
G1 X{{xStep}} Y{{y}} F500
G1 Z-0.2 F200
G1 X0 Y{{y}} F500
{{/even}}
{{/.}}

G1 X{{xStep}}
G1 Y0

G0 Z10
M05

G0 X0 Y0
M30
